div.component {
    margin: 20px 0;

    div.headline {
        padding-bottom: 8px;

        label {
            line-height: 16px;
            font-size: 14px;
            color: #52667a;
        }
    }

    div.border {
        padding: 10px 16px;
        border: 1px solid #d1d9e0;
        border-radius: 3px;
        font-size: 14px;
        line-height: 22px;
        color: #52667a;

        div.subline {
            display: flex;
            justify-content: space-between;

            p.subline {
                color: #52667a;
                font-size: 14px;
                line-height: 22px;
            }

            p.select-all {
                text-align: right;
                text-decoration: underline;
                font-size: 14px;
                line-height: 22px;
                color: #52667a;
                cursor: pointer;
            }
        }

        p.innerText {
            font-size: 14px;
            line-height: 40px;
            text-align: center;
            color: #748494;
        }

        div.button-container {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}

.payment-method--grid {
    img {
        height: 35px;
    }
    .payment--method--name {
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-column-gap: 5px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 16px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #d1d9e0;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 3px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #189eff;
    }

    input:focus + .slider {
        box-shadow: 0 0 2px #189eff;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }

    .slider.round {
        border-radius: 17px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}

.support-form--logs, .support-form--account {
    display: flex;
    align-items: center;
}

.support-form--account {
    margin-bottom: 22px;
}

.support-form--logs .sw-field--checkbox, .support-form--account .sw-field--checkbox {
    margin-bottom: 0;
    margin-right: 10px;
    height: max-content;
}

.support-form--send {
    text-align: right;
}
.moptWorldlineAmountToProcess{margin-bottom:0}.table--no-content{text-align:center;font-weight:bold}.sw-tabs .sw-tabs__custom-content{padding-bottom:0}
