.wl-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 10px;
}

.wl-col {
  flex: 1;
  min-width: 250px;

  h4 {
    margin: 0 0 10px;
    font-size: 14px;
    color: #1d2327;
    border-bottom: 1px solid #f0f0f1;
    padding-bottom: 10px;
  }
}

.wl-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 13px;
}

.wl-label {
  color: #72777c;
}

.wl-val {
  font-weight: 600;
  color: #1d2327;
  text-align: right;
}