<div class="component">
    <div class="headline">
        <label>{{ $tc('worldline.payment-method-button.headline') }}</label>
    </div>
    <div class="border">
        <div class="subline">
            <p class="subline">{{ $tc('worldline.payment-method-button.subline') }}</p>
            <p v-if="paymentMethodData.length > 5" class="select-all">
                <span @click="selectAllCheckbox(true)">{{ $tc('worldline.payment-method-button.selectAll') }}</span> |
                <span @click="selectAllCheckbox(false)">{{ $tc('worldline.payment-method-button.deselectAll') }}</span>
            </p>
        </div>
        <div v-if="displayMessage">
            <p class="innerText">{{ displayMessage }}</p>
        </div>
        <sw-grid v-else class="payment-method--grid" :table="true" :selectable="false" :allowInlineEdit="false" :items="paymentMethodData">
            <template #columns="{ item }">
                <sw-grid-column flex="100px" :label="$tc('worldline.payment-method-button.activeLabel')">
                    <label class="switch">
                        <input @click="selectSingleCheckbox(item.id)"
                               type="checkbox"
                               :id="item.id"
                               :internalId="item.internalId"
                               class="paymentMethod"
                               :checked="item.isActive">
                        <span class="slider round"></span>
                    </label>
                </sw-grid-column>

                <sw-grid-column flex="200px" :label="$tc('worldline.payment-method-button.linkLabel')">
                    <label class="switch">
                        <input @click="selectSingleCheckboxIsLinked(item.id)"
                               type="checkbox"
                               :id="item.id_linked"
                               :internalId="item.internalId"
                               class="paymentMethod"
                               :checked="item.isLinked">
                        <span class="slider round"></span>
                    </label>
                </sw-grid-column>

                <sw-grid-column flex="1fr" :label="$tc('worldline.payment-method-button.paymentName')">
                    <div class="payment--method--name">
                        <img :src="item.logo">
                        {{ item.label }}
                    </div>
                </sw-grid-column>
            </template>
        </sw-grid>
    </div>
</div>
