<div class="component">
    <div class="headline">
        <label>{{ $tc('worldline.payment-method-button.headline') }}</label>
    </div>
    <div class="border">
        <div class="subline">
            <p class="subline">{{ $tc('worldline.payment-method-button.subline') }}</p>
            <p v-if="paymentMethodData.length > 5" class="select-all">
                <span @click="selectAllCheckbox(true)">{{ $tc('worldline.payment-method-button.selectAll') }}</span> |
                <span @click="selectAllCheckbox(false)">{{ $tc('worldline.payment-method-button.deselectAll') }}</span>
            </p>
        </div>
        <table>
            <thead>
            <tr>
                <th>
                    <span >{{ $tc('worldline.payment-method-button.activeLabel') }}</span>
                </th>
                <th>
                    <span >{{ $tc('worldline.payment-method-button.linkLabel') }}</span>
                </th>
                <th>
                    <span>{{ $tc('worldline.payment-method-button.paymentName') }}</span>
                </th>
            </tr>
            </thead>
            <tbody class="payment-method--container">
            <tr v-if="displayMessage">
                <td>
                    <p class="innerText">{{ displayMessage }}</p>
                </td>
            </tr>

            <tr v-else v-for="item in paymentMethodData">
                <td>
                    <label class="switch">
                        <input @click="selectSingleCheckbox(item.id)"
                               type="checkbox"
                               :id="item.id"
                               :internalId="item.internalId"
                               class="paymentMethod"
                               :checked="item.isActive">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label class="switch">
                        <input @click="selectSingleCheckboxIsLinked(item.id)"
                               type="checkbox"
                               :id="item.id_linked"
                               :internalId="item.internalId"
                               class="paymentMethod"
                               :checked="item.isLinked">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td class="payment--method--name">
                    <div>
                        <img :src="item.logo">
                        <label :for="item.label">{{item.label}}</label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
