.wlop-saved-card-button {
	margin: 10px 0;

	button {
		width: 100%;
	}
}

.syde-gateway-icons img {
	max-height: 1.618em;
	max-width: 2em;
}

.wlop-ht-wrapper iframe {
	border: none;
	width: 100%;
	max-width: 500px;
}

.wlop-ht-narrow,
.wc-block-checkout.is-mobile,
.wc-block-checkout.is-small {

	iframe {
		min-height: 450px;
	}
}

.wlop-surcharge-note {
	font-weight: 700;
}

// Safari bug in WC 9.7.2
#radio-control-wc-payment-method-options-worldline-hosted-tokenization__content { /* stylelint-disable-line selector-id-pattern */
	display: block;
}
