<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <import resource="../../Controller/Api/PluginConfigController.php" type="attribute"/>
    <import resource="../../Controller/SupportForm/SupportFormController.php" type="attribute"/>
    <import resource="../../Controller/Payment/PaymentFinalizeController.php" type="attribute"/>
    <import resource="../../Controller/Payment/PaymentWebhookController.php" type="attribute"/>
    <import resource="../../Controller/Payment/IframeController.php" type="attribute"/>
    <import resource="../../Controller/Payment/ReturnUrlController.php" type="attribute"/>
    <import resource="../../Controller/TransactionsControl/TransactionsControlController.php" type="attribute"/>
    <import resource="../../Core/Checkout/Payment/SalesChannel/OverwritePaymentMethodRoute.php" type="attribute" />

</routes>
