<div>
    <sw-button-process
        @click="showSandboxCredentials"
    >{{ $tc('worldline.show-sandbox-credentials-button.label') }}</sw-button-process>
    <sw-button-process
        @click="showLiveCredentials"
    >{{ $tc('worldline.show-live-credentials-button.label') }}</sw-button-process>
</div>
