.support-form--logs, .support-form--account {
    display: flex;
    align-items: center;
}

.support-form--account {
    margin-bottom: 22px;
}

.support-form--logs .sw-field--checkbox, .support-form--account .sw-field--checkbox {
    margin-bottom: 0;
    margin-right: 10px;
    height: max-content;
}

.support-form--send {
    text-align: right;
}

#mo-support-description textarea {
    min-height: 155px;
}