<div class="component">
    <div class="headline">
        <label>{{ $tc('worldline.support-form.name') }}</label>
    </div>

    <div class="border">
        <div>
            <sw-email-field v-model:value="emailField">
                <template v-slot:label>{{ $tc('worldline.support-form.contact-email') }}</template>
            </sw-email-field>
            <sw-textarea-field type="textarea" label="Name" id="mo-support-description" v-model:value="descriptionField"
                               :placeholder="$tc('worldline.support-form.description-default')">
                <template v-slot:label>{{ $tc('worldline.support-form.description') }}</template>

            </sw-textarea-field>
            <sw-checkbox-field v-model="createAccountCheck" :label="$tc('worldline.support-form.create-account-help')"></sw-checkbox-field>
            <div class="support-form--logs">
                <sw-checkbox-field v-model="attachLogCheck" :label="$tc('worldline.support-form.attach-logs')"></sw-checkbox-field>
                <sw-button @click="downloadLog" size="small">{{ $tc('worldline.support-form.download') }}</sw-button>
            </div>
            <div class="support-form--send">
                <sw-button-process @click="send" variant="primary">{{ $tc('worldline.support-form.button') }}</sw-button-process>
            </div>
        </div>
    </div>
</div>